<% obj.each do |student| %>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <div class="student-name">
          <%= link_to student.name, student_path(student) %>
        </div>
            <div class="student-body">
              <td><%= student.city %></td>
              <%
=begin%>
 <div class="student-meta-details">
              <small>created by: <%= student.user.username if student.user %>, <%= time_ago_in_words(student.created_at) %> ago,last updated:<%= time_ago_in_words(student.updated_at) %> ago </small>
              </div> 
<%
=end%>
              <% if logged_in? && (current_user == student.user || current_user.admin?) %>
                <div class="student-actions">
                <%= link_to "Edit this student", edit_student_path(student),class: "btn btn-xs btn-primary" %>
                <%= link_to "delete this student ",student_path(student), method: :delete, 
                    data:{confirm: "are you really sure to delete the sudent ??"}, class: "btn btn-xs btn-danger" %>
                </div>
                <% end %>
             </div>
       </div>
      </div>       
     </div> 
    </div>    
  </div> 
<% end %>